html {
  font-family: arial, sans-serif;
  font-size: 20px;
}

body {
  background-color: #060000;
}

img {
  max-width: 100%;
}

.master_container {
  margin: auto;
  max-width: 992px;
}

.flex-container {
  display: flex;
  align-items: center;
  height: 100vh;
  border: 1px solid black;
  width: 100%;
}
