@media (min-width: 768px) {
  .mastheadOrgName {
    position: absolute;
    left: 0;
    top: 10px;
    width: 100%;
  }

  .mastheadOrgName h1,
  .bibleStudySeries h1 {
    color: white;
    font-size: 1.8rem;
    margin: 0;
  }

  .centered-div {
    margin-top: -50px;
    position: relative;
    width: 100%;
  }

  .bibleStudySeries {
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
  }
}
